<h1>Group Name: <%= @group.name %></h1><br>
<h2>Group Tasks: </h2>
<ul>
<% @group.tasks.each do |task|%>
<li><%= task.name %><br></li>
<% end %>
</ul>

<h3>Group Members:</h3>
<ul>
<% @group.users.each do |user|%>
<li><%= user.username %><br></li>
<% end %>
</ul>
