<h1>Welcome <%= @user.username %></h1>

          <h1>All Tasks</h1>

<% if !@user.tasks.empty? %>
<% @user.tasks.each do |task| %>
<%= task.name %><br>
<% end %>
<% end %>

<%= link_to "Add a task", new_user_task_path(@user) %>

<%= link_to 'logout', logout_path, :confirm => "Are you sure?", method: 'delete'  %>